.h1 {
    color: brown;
    background-color: bisque;
}

.hide {
    display: none;
}

.mas {
    border: 1px solid gainsboro;
    border-radius: 20%;
    background-color: gray;
    color: aliceblue;
    cursor: pointer;
    font-size: 1.1rem;
    font-style: italic;
}